@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;

  /* outline: 1px solid #808080; */
}

body {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic;
}

img {
  display: block;
}

/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 958px;
  background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png');
}

.banner-content {
  margin-right: 2px;
  width: 304px;
  color: #fff;
}

.banner span {
  display: block;
  text-align: left;
  line-height: 42px;
}

.banner h1 {
  margin-bottom: 32px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.325;
}

.banner-content p {
  line-height: 1.5;
  margin-bottom: 40px;
}

.banner-content ul {
  display: flex;
  justify-content: space-around;
}

/* about */

.about {
  display: flex;
  align-items: center;
  margin: 56px 0;
  flex-direction: column;
}

.about h2 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1.3125;
}

.about img {
  margin-bottom: 20px;
}

.about-basic-information {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
}

.about-education {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.about hr {
  margin: 0;
  width: 384px;
  border: 1px solid #000;
}

.about ul li::before {
  display: inline-block;
  margin-right: 16px;
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 50%;
  content: '';
}

.about ul li {
  margin-top: 28px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
}

/* brand */
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 160px;
  background: #000;
}

.brand h2 {
  margin-bottom: 12px;
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  line-height: 1.3125;
}

.brand h3 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 1.75;
}

.brand p {
  margin-bottom: 68px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
}

.brand ul {
  display: flex;
  justify-content: center;
  width: 1200px;
  flex-wrap: wrap;
}

.brand ul li:nth-child(1) {
  margin-bottom: 40px;
}

.brand ul li:nth-child(2) {
  margin-right: 24px;
}

/* other works */
.other-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-works h2 {
  margin: 56px 0 16px;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.3125;
}

.other-works p {
  margin-bottom: 56px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.other-works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}

.other-works ul li h4 {
  margin: 16px 0 48px;
  font-size: 20px;
  line-height: 2.1;
  font-weight: 500;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  color: #fff;
  background: #000;
}

.contact h2 {
  margin: 64px 0 16px;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.3125;
}

.contact ul {
  margin-bottom: 64px;
}

.contact ul li {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.contact ul li a {
  text-decoration: none;
  color: #fff;
}
